<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="copyright">&copy; <a href="https://pontalalimentos.com.br/"><strong>Pontal Alimentos</strong></a></p>
        <div class="credits">
           Indústria alimentícia de Uberaba-MG. <a routerLink="/backend">Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>